[Unit]
Description=Service to display system temperature on ssd1306 display device

[Service]
## Replace this path as per the location of 'tempDisplay.sh' on your system.
ExecStart=/home/orangepi/github/ssd1306-on-linux/user/tempDisplay.sh    
Restart=always
User=root
Group=root
Type=Simple

[Install]
WantedBy=multi-user.target
